@import '@MasterStyle';

.page-title {
  color: $title-color;
}

.main-content {
  height: 100vh;
  padding: 3rem 0 0 3rem;
  overflow: hidden;
  @media only screen and (min-width: 768px) {
    position: fixed;
    width: 50vw;
  }
  

  .card-content {
    text-align: center;
    color: #FFFFFF;

    .sub-ttl {
      font-weight: 300;
      font-size: 1.75rem;
      letter-spacing: 1px;
    }

    .main-ttl {
      margin: 4rem 0;
      font-family: 'Kilogram';
      line-height: initial;

      .first-name {
        font-size: 4.5rem;
        line-height: initial;
        margin-bottom: 0;
      }

      .last-name {
        font-size: 6rem;
        line-height: initial;
        margin-bottom: 0;
      }
    }
  }

  .footer {
    width: 100%;
    position: relative;
    height: calc(25vh - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;

    .social {
      display: flex;
      justify-content: space-evenly;
      padding: 0 4rem;

      a {
        cursor: pointer;
        color: #ffffff !important;
        transition: transform 0.5s;

        &:hover {
          transform: translate(0px, -5px);
        }
      }
    }

    p {
      margin: 1rem;
      text-align: center;
      color: #ffffffce;
      font-weight: 300;
      font-size: 0.75rem;
    }
  }
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  background: none;
  padding: 1rem 5rem;
  outline: none !important;

  &.btn-white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      background-color: #FFFFFF;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
    }
  }

  &.btn-green {
    color: #40D6D1;
    border: 2px solid #40D6D1;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      background-color: #40D6D1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
    }
  }
}

button:hover {
  cursor: pointer;

  &.btn-white {
    color: #2688ff;
  }

  &.btn-green {
    color: #ffffff;
  }
}

button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.side-content {
  @media only screen and (min-width: 768px) {
    margin-left: 50vw;
  }

  .content-wrapper {
    // scroll-snap-points-x: repeat(50vw);
    // scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    width: 50vw;
    overflow-x: auto;

    .side-card {
      height: 100vh;
      padding: 3rem 3rem 5rem 0;
      position: relative;
      // scroll-snap-align: start;
  
      .card-content {
        text-align: center;
        color: #40D6D1;
  
        img {
          height: 108px;
          width: 108px;
        }
  
        h1,h2 {
          font-family: 'Oswald', sans-serif;
        }
  
        .sub-ttl {
          letter-spacing: 32px;
          margin-right: -32px;
        }
  
        .main-ttl {
          .front-end {
            font-size: 3.5rem;
          }
  
          .engineer {
            font-size: 4.15rem;
          }
        }
    
      }
    }
  }

}

.full-height {
  height: 100vh;
}

.gradient-blue {
  background-color: #1c60ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%231c60ff'/%3E%3Cstop offset='1' stop-color='%23006eff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%231961ff'/%3E%3Cstop offset='1' stop-color='%230166f2'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%231762ff'/%3E%3Cstop offset='1' stop-color='%23015fe6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%231463ff'/%3E%3Cstop offset='1' stop-color='%230258d9'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%231264ff'/%3E%3Cstop offset='1' stop-color='%230251cd'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%230f65ff'/%3E%3Cstop offset='1' stop-color='%23034ac0'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%230d67ff'/%3E%3Cstop offset='1' stop-color='%230344b4'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%230a68ff'/%3E%3Cstop offset='1' stop-color='%23043ea7'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%230869ff'/%3E%3Cstop offset='1' stop-color='%2304389b'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23056bff'/%3E%3Cstop offset='1' stop-color='%2304328f'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23036cff'/%3E%3Cstop offset='1' stop-color='%23042d83'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23006eff'/%3E%3Cstop offset='1' stop-color='%23042877'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

.gradient-white {
  // background-image: linear-gradient(-180deg, #FFFFFF 3%, #F5F5F5 100%);
  background-color: #FFFFFF;
}

.blob1 {
  border-radius: 50% 38% 43% 48% / 55% 48% 49% 42%;
  background-image: linear-gradient(-180deg, #2C66ED 0%, #30CDE3 100%);
  position: absolute;
  top: -50px;
  left: 10px;
  height: 150px;
  width: 150px;
  transform: rotate(80deg);
  animation: move1 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob2 {
  border-radius: 62% 38% 68% 31% / 57% 51% 49% 42%;
  background-image: linear-gradient(-180deg, #2C66ED 0%, #30CDE3 100%);
  position: absolute;
  bottom: 20px;
  left: -20px;
  height: 250px;
  width: 250px;
  transform: rotate(80deg);
  animation: move2 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob3 {
  border-radius: 66% 70% 53% 73% / 82% 100% 42% 52% ;
  background-image: linear-gradient(-180deg, #2C66ED 0%, #30CDE3 100%);
  position: absolute;
  bottom: 60px;
  right: 20px;
  height: 120px;
  width: 120px;
  animation: rotating 10s linear infinite;
}

.blob4 {
  border-radius: 100% 10% 28% 0% / 100% 0% 0% 3%;
  background-image: linear-gradient(270deg, #2C66ED 0%, #30CDE3 100%);
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 120px;
  width: 140px;
}

.blob5 {
  border-radius: 87% 0% 28% 0% / 100% 0% 0% 0% ;
  background-image: linear-gradient(360deg, rgb(25, 141, 187) 0%, #30CDE3 100%);
  position: absolute;
  bottom: 0px;
  right: 100px;
  height: 80px;
  width: 100px;
}

.inner-card {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.09);
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(50vw - 3rem);

  .menu {

    .icon {
      position: absolute;
      left: 30px;
      top: 30px;
      background: #FFFFFF;
      border-radius: 20px;
      cursor: pointer;
      padding: 9px 10px;
      z-index: 9;
      display: flex;
      align-items: center;
      transform: rotate(0deg);
      transition: 1s transform;

      &:hover {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.09);
      }

      &.front {
        transform: rotate(360deg);
      }

      &.back {
        transform: rotate(0deg);
      }
    }
    
    nav {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 0;
      background: #FFFFFF;
      transition: 1.2s all;
      z-index: 1;

      ul {
        padding: 2rem 0 4rem 5rem;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.4s ease-in, visibility 0.4s ease-out;

        li {
          margin: 1.85rem;
          font-size: 1.65rem;
          font-weight: 600;
          
          a {
            color: #1c60ff;
            cursor: pointer;
            position: relative;
            z-index: 1;

            &::before {
              content: '';
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: -0.25em;
              right: -0.25em;
              background-image: linear-gradient(90deg, #2C66ED 0%, #30CDE3 100%);
              transform-origin: center right;
              transform: scaleX(0);
              transition: transform 0.2s ease-in-out;
            }

            &:hover, &.active {
              color: #ffffff;
              &::before {
                transform: scaleX(1);
                transform-origin: center left;
              }
            }
          }
        }
      }
    }

    &.active {
      nav {
        border-radius: 0 0 300px 0;
        display: block;
        width: 70vw;

        ul {
          opacity: 1;
          visibility: visible;
        }

        @media only screen and (min-width: 768px) {
          width: 35vw;
        }
      }
    }


  }
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(10px, 0);
  }

  38% {
    transform: scale(0.8, 1) translate(0vw, 10vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 15vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 15vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, 0);
  }
}

@keyframes move2 {
  0% {
    transform: scale(1) rotate(90deg);
  }

  25% {
    transform: scale(0.8, 1) translate(10vw, 0) rotate(180deg);
  }

  50% {
    transform: scale(0.8, 1) translate(20vw, 0) rotate(270deg);
  }

  75% {
    transform: scale(1.3) rotate(360deg);
  }

  100% {
    transform: scale(1) rotate(90deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}